* {
	scroll-behavior: smooth;
}

body {
	font-size: 1.8em;
	background-color: #252525;
	color: #fff;
	font-family: 'Sen', sans-serif;
	text-align: center;
}

h2 {
	font-size: 2.4em;
}
h3 { 
	font-size: 2em;
}

h4 {
	font-size: 2.4em;
	padding: 30px;
}

p {
	font-size: 1.4em;
	text-align: center;
}

section {
	margin: 50px auto;
}


nav a {
	color: #fff;
	text-decoration: none;
}

.h1-title {
	font-size: 3.5em;
	margin: 20px;
	text-align: center;
}

.nav-header {
	display: none;
}

.inicio {
	display: flex;
	text-align: center;
	align-content: center;
	flex-direction: column;
	gap: 30px;
}

.container-menu-comida {
	margin: 30px 0;
}

.menu-info {
	padding: 30px;
}

.ul-menu-food {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}


.li-menu-item {
	background-color: #333;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	flex-basis: calc(25% - 20px);
	padding: 20px;
	width: 95%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.menu-item-description {
	margin: 20px 0;
}

.menu-item-price::before {
	content: "$100";
	font-size: 2em;
	color: #efdfaf;
	margin-top: -10px;
}




.img-menu-item {
	cursor: pointer;
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
}

iframe {
	border: 0;
	height: 450px;
	width: 500px;
}
	section#ubicacion iframe {
		display: block;
		margin: 0 auto;
	}

	section#contacto p {
		font-size: 1.2em;
	}

	footer {
		background-color: #000;
		color: #fff;
		padding: 20px;
		text-align: center;
	}

	footer p {
		margin: 0;
	}


      /* Estilo del modal */
      #modal {
        display: none; /* El modal se oculta por defecto */
        position: fixed; /* Posición fija para cubrir toda la pantalla */
        z-index: 1; /* El modal debe estar por encima de todo el contenido */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /* Para permitir el desplazamiento en pantallas pequeñas */
        background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro y semitransparente */
        justify-content: center;
        align-items: center;
      }
      
      /* Estilo de la imagen dentro del modal */
      #modal-imagen {
        display: block; /* Asegurar que la imagen se muestre como un bloque */
        margin: 0 auto; /* Centrar la imagen horizontalmente */
        max-width: 90%; /* Establecer el ancho máximo de la imagen */
        max-height: 80%; /* Establecer la altura máxima de la imagen */
      }
      
      /* Estilo del botón para cerrar el modal */
      .modal-cerrar {
        color: #fff; /* Color del botón */
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
        user-select: none;
      }
      
      /* Estilo del fondo difuminado */
      .modal-fondo {
        filter: blur(5px); /* Aplicar efecto de desenfoque */
        -webkit-filter: blur(5px);
        position: fixed;
        z-index: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro y semitransparente */
      }



/* Elemento base */
::-webkit-scrollbar {
  width: 8px;
}

/* Carril */
::-webkit-scrollbar-track {
  background: #29002b;
  border-radius: 50px
}
 
/* Manejador */
::-webkit-scrollbar-thumb {
  background: #7b00ff;
  border-radius: 50px;
}

/* Manejador hover */
::-webkit-scrollbar-thumb:hover {
  background: #8f51d1;
}


@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
	

	.header-menu {
		background-color: #000;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 20px 10px;
	}

	.nav-header {
		display: block;
		width: 100%;
	}
	.nav-ul {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	#inicio {
		margin-top: 180px;
	}
}


